<div id="quote-page-intro">
  <p>A randomly selected quote from this page will be sent along with your sandwich order.</p>
  <p>Think of it as horribly inadequate payment for your delicious, delicous sandwich.</p>
</div>
<div class="row">
  <% @quotes.each do |quote| %>
    <div class="well span3">
      <div id="quote<%= quote.id %>-body">
        <%= quote.body %>
      </div>
      <div id="quote<%= quote.id %>-author">
        <em><%= quote.author %></em>
      </div>
    </div>
  <% end %>
</div>