<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>This is a sandwich order for <%= @user.email %></h1>
    <p>
      <%= @order %>
    </p>
  </body>
</html>