<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>This is a sandwich order for <%= @user.email %></h1>
    <p>You ordered <strong><%= @sandwich.name %></strong></p>
    <p><%= @sandwich.description %></p>
    <p>Enjoy!</p>
  </body>
</html>