/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

.alert {
  margin-top: 10px;
}

.modal-body {
  textarea {
    height: 150px;
  }
}

#empty-order-haiku {
  text-align: center;
}

#quote-page-intro {
  text-align: center;
}

/*.well {
  background-color: rgba(255, 255, 255, 0.55);
}*/
/*.container {
  width: 75%;
  height: 100%;
  background-color: white;
}

body {
  background-image: url("panini2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
*/